
.centered-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.form-container {
    width: 400px; /* Set the width of the form container */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Adjustments for the button */
.form-container button {
    display: block;
    margin-top: 10px;
    width: 100%;
}
p input{
    width: 100%;
}

#chart {
    width: 100% !important;
    /* height: 500px !important; */
}


.chart-and-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-inline: 80px;
    margin-top: 30px;
}

.chart-description {
    flex: 1 1 50%; /* Take up half the width initially */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chart-container-24 {
    flex: 1 1 50%; /* Take up half the width initially */
    padding: 20px;
}


@media (max-width: 1008px) {
    .chart-and-description {
        flex-direction: column;
    }
    
    .chart-description, .chart-container-24 {
        flex: 1 1 100%; /* Take up full width on smaller screens */
    }
}

.fun-paragraph {
    line-height: 1.6;
    font-size: 18px;
}