.centered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.list-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px; /* Adjust spacing between list items */
}
.locations-list a {
    text-decoration: none;
    color: #000; /* Adjust link color */
}
ul.device-list li{
    padding-inline: 30px;
}
a.btn.btn-success{
    width: 103px;
}
.device-details{
    padding-right: 15px;
}
.locations-list {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
}
li.even {
    background-color: #545b6240;
    /* Change this to your desired background color */
}

li.odd {
    background-color: #dee2e65e;
    /* Change this to your desired background color */
}
.locations-list a li{
    padding-left: 20px;
}

.locations-list a{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: x-large;
}
.even:hover, .odd:hover {
    background-color: #0000008c;
    cursor: pointer;
    color: white;
}

.button-container{
    margin-top: 10px;
}

.device-list li:hover{
    background-color: white;
    cursor: default;
    color: black;
}

.device-list li:nth-child(even) {
    background-color: #f2f2f2; /* Change to your preferred even color */
}

/* Item styling within list items */
.device-list li {
    /* Add styles for list items here */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Example border between items */
}
.device-list li {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    align-items: center;
}
.device-list li div {
    margin-right: 5px;
}