.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    /* Set width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10px;
}

.messages {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    color: #3c763d;
    border-radius: 5px;
    width: 400px;
    text-align: center;
}
section.locations-list-section{
    margin-top: 10px;
}

.register-location-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.locations-list-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.locations-list {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
}

.locations-list li:nth-child(even) {
    background-color: #545b6240;
    /* Change this to your desired background color */
}

.locations-list li:nth-child(odd) {
    background-color: #dee2e65e;
    /* Change this to your desired background color */
}
 
.locations-list li{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Item styling within list items */
.locations-list li {
    /* Add styles for list items here */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Example border between items */
}
.locations-list li {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    align-items: center;
}
.locations-list li div {
    margin-right: 5px;
}

.centered-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}
.list-container {
    width: 50%; /* Adjust the width of the list container */
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px; /* Adjust spacing between list items */
}
.locations-list li a {
    text-decoration: none;
    color: #000; /* Adjust link color */
}
a.btn.btn-danger.delete-location{
    color: white;
}