{% extends 'base.html' %}
{% load static%}
{%block title%}
    Usage History
{%endblock title%}
{%block css%}
    <link rel="stylesheet" href="{% static 'customer/chart_styles.css'%}">
    <link rel="stylesheet" href="{% static 'customer/header_footer_styles.css'%}">
    <link rel="stylesheet" href="{% static 'customer/more_options_styles.css'%}">
{%endblock css%}

{%block content%}
    {% include  'customer/header.html'%}
    <main class="main-content">
        <div class="chart-and-description">
            <div class="chart-description">
                <h2>Location Energy Consumption Compared</h2>
                <p class="fun-paragraph">
                    <div class="big-number" id="consumption-percentage"></div>
                    Discover how your energy usage compares! This chart illustrates your location's energy consumption for the selected month versus similar-sized locations. 
                    Track your impact visually as graph and as a percentage. 
                    Tailor the month to your liking, explore trends, and make informed energy decisions. Energize your insights!
                </p>
            </div>
            <div class="chart-container-history">
                <div class="chart-modifiers">
                    <select id="dataSelector" class="">
                        {% for location in service_locations %}
                            <option value="{{ location.id }}">{{ location.streetNumber}} {{location.streetName}}</option>
                        {% endfor %}
                    </select>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <canvas id="comparison-chart" width="1000" height="500"></canvas>
            </div>
        </div>
        {% include  'customer/more_options.html'%}
    </main>
    {% include  'customer/footer.html'%}
{%endblock content%}
{% block jsfiles%}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script> {% endcomment %}
<script src="{% static 'js/chart.js'%}"></script>
<script src="{% static 'customer/js/location_usage_comparison_script.js'%}"></script>
{% endblock jsfiles%}