{% extends 'base.html' %}
{% load static%}
{%block title%}
Change Password
{%endblock title%}

{%block css%}
    <link rel="stylesheet" href="{% static 'customer/customer_home_style.css'%}">
{%endblock css%}
{%block content%}
    {% include  'customer/header.html'%}
    <main>
        <div class="centered-form">
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Change Password</button>
                </form>
        
                {% for message in messages %}
                    <div>{{message}}</div>
                {% endfor %}
            </div>
        </div>
    </main>
{%endblock content%}