{% extends 'base.html' %}
{% load static%}
{%block title%}
Home
{%endblock title%}

{%block css%}
    <link rel="stylesheet" href="{% static 'customer/customer_home_style.css'%}">
{%endblock css%}

{%block content%}
{%if user_info%}
    {% include  'customer/header.html'%}
    <main>
        <ul class="main-menu">
            <li><a href="{%url 'service_locations'%}">Service Locations</a></li>
            <li><a href="">Register a device</a></li>
            <li><a href="">See current consumption</a></li>
        </ul>
    </main>
{% else %}
        <p>No user information available.</p>
{%endif%}
{%endblock content%}