<section class="register-location-section">
    <ul class="messages">
        {% for message in messages %}
            {% if message.tags %}
                {% if message.tags == 'error' %}
                    <li class="alert alert-danger">{{ message }}</li>
                {% elif message.tags == 'success' %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endif %}
            {% else %}
                <li>{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="form-container">
        <h2>Add Service Location</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Location</button>
        </form>
    </div>
</section>