<div class="more-options-section">
    <h2>More Options for Understanding Energy Consumption</h2>
    <div class="options-grid">
        <a href="{%url 'history-energy-usage'%}" class="option">
            <div>
                <h3>Energy Usage History</h3>
                <p>View your previous days' total energy consumption of a location for all its devices.</p>
            </div>
        </a>
        <a href="{%url 'location-energy-usage'%}" class="option">
            <div>
                <h3>Location's Devices Energy Usage</h3>
                <p>Suspicious high energy? Discover your devices total energy consumption in a given day.</p>
            </div>
        </a>
        <a href="{%url 'location-usage-history-comparison'%}" class="option">
            <div>
                <h3>Location Energy Consumption Compared</h3>
                <p>See how your registered locations' energy consumption compares to others of similar size on a montly basis.</p>
            </div>
        </a>
        <a href="{%url 'peak-power'%}" class="option">
            <div>
                <h3>Peak Power</h3>
                <p>Learn about the environmental impact of your energy consumption.</p>
            </div>
        </a>
    </div>
</div>