<div class="more-options-section">
    <h2>More Options for Understanding Energy Consumption</h2>
    <div class="options-grid">
        <a href="{%url 'history-energy-usage'%}" class="option">
            <div>
                <h3>Energy Usage History</h3>
                <p>View your energy consumption for the past days for locations and devices</p>
            </div>
        </a>
        <a href="{%url 'location-energy-usage'%}" class="option">
            <div>
                <h3>Location Energy Usage</h3>
                <p>Suspicious high energy? Discover your devices energy consumption in a given day.</p>
            </div>
        </a>
        <a href="#" class="option">
            <div>
                <h3>Cost Analysis</h3>
                <p>Estimate your energy costs and plan your budget accordingly.</p>
            </div>
        </a>
        <a href="#" class="option">
            <div>
                <h3>Environmental Impact</h3>
                <p>Learn about the environmental impact of your energy consumption.</p>
            </div>
        </a>
    </div>
</div>