{% extends 'base.html' %}
{% load static%}
{%block title%}
Service Locations
{%endblock title%}

{%block css%}
    <link rel="stylesheet" href="{% static 'customer/service_locations_styles.css'%}">
    <link rel="stylesheet" href="{% static 'customer/header_footer_styles.css'%}">
{%endblock css%}

{%block content%}
    {% include  'customer/header.html'%}
    {% include  'customer/service_locations_list.html'%}
    {% include  'customer/locations_register.html'%}
    {% include  'customer/footer.html'%}
{%endblock content%}

{% block jsfiles%}
<script src="{% static 'customer/js/service_locations_script.js'%}"></script>
{% endblock jsfiles%}