{% extends 'base.html' %}
{% load static%}
{%block title%}
Register Device
{%endblock title%}

{%block css%}
    <link rel="stylesheet" href="{% static 'customer/devices_manager_styles.css'%}">
    <link rel="stylesheet" href="{% static 'customer/header_footer_styles.css'%}">
{%endblock css%}
{%block content%}
    {% include  'customer/header.html'%}
    <main class="main-content">
        <div class="centered-list">
            <h2>Pair Device</h2>
                <form method="post" class="device-creation-form">
                    {% csrf_token %}
                    <label for="device_name">Device Name:</label>
                    <input class="form-control" type="text" id="device_name" name="device_name"><br>
                    <label for="device_type">Select Device Type:</label>
                    <select class="form-control" id="device_type" name="device_type">
                        {% for device_type in device_types %}
                            <option value="{{ device_type.id }}">{{ device_type.name }}</option>
                        {% endfor %}
                    </select><br>
            
                    <label for="device_model">Select Device Model:</label>
                    <select class="form-control" id="device_model" name="modelNumber">
                        {% for device_model in device_models %}
                            <option value="{{ device_model.id }}" data-device-type="{{ device_model.device_type_id }}">{{ device_model.modelNumber }}</option>
                        {% endfor %}
                    </select><br>
            
                    <button type="submit" class="btn btn-primary">Pair Device</button>
                </form>
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags %}
                            {% if message.tags == 'error' %}
                                <li class="alert alert-danger">{{ message }}</li>
                            {% elif message.tags == 'success' %}
                                <li class="alert alert-success">{{ message }}</li>
                            {% endif %}
                        {% else %}
                            <li>{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    </main>
    {% include  'customer/footer.html'%}
{%endblock content%}
{% block jsfiles%}
<script src="{% static 'customer/js/pair_device.js'%}"></script>
{% endblock jsfiles%}