{% extends 'base.html' %}
{% load static%}
{%block title%}
Login
{%endblock title%}

{%block css%}
    <link rel="stylesheet" href="{% static 'landing/login_style.css'%}">
{%endblock css%}

{%block content%}
<div class="background-image"></div>
<div class="login-container">
    <div class="login-form" >
    <form method="post">
        {% csrf_token %}
        <div>
            <h2>Login</h2>
            <a href="{% url 'Landing'%}">Back</a>
        </div>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    {% for message in messages %}
    {% if message.tags == 'success' %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <div class="create-forgot">
        <a href="{%url 'signup'%}">Create new account</a>
        <a href="{%url 'password_reset'%}">Forgot password?</a>
    </div>
    </div>
</div>
{%endblock content%}